@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
    --prim-dark: #242E49;
    --prim-light: #D0E4FF;
    --prim-light2: #E7F0FF;
    --nav-bg: #F4F7FF;
    --btn-prim: #1264FF;
    --btn-prim-hover: #104cbd;
    --blueish: #6C63FF;
    --dark-gray: gray;
    --light-gray: rgb(209, 209, 209);
    --lighter-gray: #F8F8F8;
    --dark-bg-light-txt: #8E94A4;
    --charcoal: #36454F;
    --f1: #e5f1d5;
    --f2: #d2def2;
    --f3: #e8ffff;
    --f4: #F2F5F9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid gray; */
}

/* Font sizes based on a modular scale */
.txt-xs { font-size: 0.875rem; /* 14px */ }
.txt-sm { font-size: 1rem; /* 16px */ }
.txt-md { font-size: 1.125rem; /* 18px */ }
.txt-lg { font-size: 1.5rem; /* 24px */ }
.txt-xl { font-size: 2rem; /* 32px */ }
.txt-2xl { font-size: 2.5rem; /* 40px */ }
.txt-3xl { font-size: 3rem; /* 48px */ }
.txt-4xl { font-size: 3.5rem; /* 56px */ }
.txt-5xl { font-size: 4.5rem;}
.txt-6xl { font-size: 5rem;}

/* Desktop to Tablet ( max-width: 1024px ) */
@media (max-width: 1024px) {
  .txt-xs { font-size: 0.8125rem; /* 13px */ }
  .txt-sm { font-size: 0.9375rem; /* 15px */ }
  .txt-md { font-size: 1.0625rem; /* 17px */ }
  .txt-lg { font-size: 1.25rem; /* 20px */ }
  .txt-xl { font-size: 1.875rem; /* 30px */ }
  .txt-2xl { font-size: 2.25rem; /* 36px */ }
  .txt-3xl { font-size: 2.75rem; /* 44px */ }
  .txt-4xl { font-size: 3.25rem; /* 52px */ }
  .txt-5xl { font-size: 4rem; /* 52px */ }
}

/* Tablet to Mobile ( max-width: 768px ) */
@media (max-width: 768px) {
  .txt-xs { font-size: 0.75rem; /* 12px */ }
  .txt-sm { font-size: 0.875rem; /* 14px */ }
  .txt-md { font-size: 1rem; /* 16px */ }
  .txt-lg { font-size: 1.125rem; /* 18px */ }
  .txt-xl { font-size: 1.75rem; /* 28px */ }
  .txt-2xl { font-size: 2rem; /* 32px */ }
  .txt-3xl { font-size: 2.5rem; /* 40px */ }
  .txt-4xl { font-size: 2.75rem; /* 44px */ }
  .txt-5xl { font-size: 3.75rem; /* 44px */ }
}

/* Mobile ( max-width: 480px ) */
@media (max-width: 480px) {
  .txt-xs { font-size: 0.6875rem; /* 11px */ }
  .txt-sm { font-size: 0.8125rem; /* 13px */ }
  .txt-md { font-size: 0.9375rem; /* 15px */ }
  .txt-lg { font-size: 1rem; /* 16px */ }
  .txt-xl { font-size: 1.5rem; /* 24px */ }
  .txt-2xl { font-size: 1.75rem; /* 28px */ }
  .txt-3xl { font-size: 2rem; /* 32px */ }
  .txt-4xl { font-size: 2.25rem; /* 36px */ }
  .txt-5xl { font-size: 3.25rem; /* 36px */ }
}

@media (max-width: 310px){
    .txt-3xl { font-size: 22px;}
    .txt-4xl { font-size: 26px;}
    .txt-5xl { font-size: 30px;}
}

body {
    padding: 10px;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: 100;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: hidden;
}

main, section, header, footer, article {
    padding: 20px;
    border-radius: 20px;
}

.full-height {
    height: 100vh;
    max-height: 900px;
}

@media (max-width: 700px){
    .full-height{
        height: fit-content;
        max-height: fit-content;
    }
}

.highlight {
    padding: 0%;
    color: var(--btn-prim);
}

.hero{
    padding: 20px 20px;
    text-align: center;
}

.hero h1{
    padding: 20px 0px;
}

.hero .mockups{
    width: 100%;
}

.hero .mockups img{
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    object-fit: contain;
}

.flex-col-even-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex-col-even-stretch {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.flex-row-even-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.flex-row-even-stretch {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.flex-row-start{
    display: flex;
    justify-content: start;
    align-items: center;
}

.hidden{
    display: none;
}

input, select {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--dark-gray);
}

textarea {
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    height: 110px;
}

button:hover,
#submit:hover{
    cursor: pointer;
}
#submit:hover{
    background-color: var(--btn-prim-hover);
}

/* Focus state for input, select, and textarea */
input:focus, select:focus, textarea:focus {
    border-color: var(--btn-prim); /* Change border color on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(18, 100, 255, 0.5); /* Add a subtle box shadow for emphasis */
}

.mid-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

nav {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.863);
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
    z-index: 100;
}

#nav-logo-txt:hover {
    cursor: pointer;
}

#nav-logo-txt {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.nav-link:hover {
    font-weight: bolder;
}

nav > * {
    height: 100%;
}

nav .menu ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav .menu ul li {
    height: 100%;
}

a.nav-link {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    padding: 20px 20px;
    color: black;
}

a.active {
    font-weight: bolder;
    color: var(--btn-prim);
    border-bottom: 3px solid var(--btn-prim);
}

.partner-up{
    border: 2px solid white;
    padding: 12px 14px;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-weight: 600;
}

.partner-up:hover{
    border: 2px solid black;
    color: black;
    background-color: white;
    transform: scaleX(1.05);
    transition: transform 200ms ease-in-out;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background-color: black;
    margin: 3px 0;
    height: 3px;
    width: 25px;
    border-radius: 2px;
}

/* Mobile Navigation */
.body-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 300px;
    height: 100%;
    background-color: white;
    z-index: 999;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 10px;
}

.mobile-nav-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.close-btn {
    font-size: 28px;
}

.close-btn:hover{
    cursor: pointer;
}

.mobile-nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: start;
}

.mobile-nav-menu .menu-item {
    margin-bottom: 15px;
}

.mobile-nav-menu .nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* Media Query for Mobile Navigation */
@media (max-width: 700px) {
    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
    }

    nav {
        justify-content: space-between;
    }
    #d-partner-up-cont{
        display: none;
    }
}

/* Show mobile navigation */
.mobile-nav.active {
    left: 0; /* Slide in from the left */
}

.body-overlay.active {
    display: block;
    opacity: 1;
}

/*  Mobile Navigation Ends Here  */

#submit {
    height: 10%;
    width: 100%;
    border: none;
    background-color: var(--btn-prim);
    color: white;
    font-weight: bold;
}

/* Vision */

section.contact-vision {
    padding: 20px 0px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

section.contact-vision>div {
    border-radius: 20px;
    padding: 40px 20px;
}

section.contact-vision .left {
    flex: 2;
    background-color: var(--prim-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 40px 10px;
}

section.contact-vision .left * {
    width: 84%;
}

section.contact-vision .left p {
    color: #8E94A4;
}

section.contact-vision .left h1 {
    color: white;
}

section.contact-vision .right {
    flex: 1;
    background-color: var(--prim-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

section.contact-vision .right .txt-area h1 {
    color: var(--prim-dark);
    margin-bottom: 10px;
}

section.contact-vision .right .graphic {
    width: 80px;
    height: 80px;
}

section.contact-vision .right .graphic img{
    width: 100%;
    height: auto;
}

section.contact-vision .right:hover{
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(95, 95, 95, 0.226);
    transform: scale(1.02);
    transition: transform 200ms ease-in-out;
}

/* Download Buttons */

section.download-btns {
    padding: 20px 0px;
}

section.download-btns .wrapper {
    width: 100%;
    padding: 20px 0px;
    border-radius: 20px;
    background-color: var(--prim-light);
    gap: 20px;
}

section.download-btns .wrapper h1 {
    color: var(--prim-dark);
}

section.download-btns .wrapper .download-btn-container {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

section.download-btns .wrapper .download-btn-container .d-btn {
    width: 200px;
    height: auto;
}

.d-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
}

@media (max-width:500px) {
    section.download-btns .wrapper .download-btn-container .d-btn {
        width: 120px;
        border-radius: 5px;
        height: auto;
    }
}
@media (max-width:340px) {
    section.download-btns .wrapper h1{
        font-size: 20px;
    }
    section.download-btns .wrapper .download-btn-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: auto;
    }
}

/* Footer */

footer {
    background-color: var(--prim-dark);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    padding: 20px;   
}


footer div.footer-head {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 20px;
}

footer div.footer-head p > a{
    text-decoration: none;
    color: var(--light-gray);
}

footer .links-container {
    flex: 1;
    gap: 20px;
    width: 100%;
}

footer .links-container div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    flex: 1;
    min-width: 160px;
}

footer .links-container div.socials {
    flex: 1;
    min-width: 60px;
}

footer .links-container div.socials .social-icon{
    font-weight: bolder;
    font-size: 1.5rem;
}

footer .links-container div.socials .social-icon:hover{
    cursor: pointer;
    font-size: 1.75rem;
}

footer .links-container div .footer-links-cont{
    width: 100%;
    gap: 15px;
    list-style: none;
}

footer .links-container div .footer-links-cont *{
    width: 100%;
}


footer .links-container div .footer-links-cont li a{
    text-decoration: none;
    color: var(--light-gray);
}

footer .links-container div .footer-links-cont li a:hover{
    font-size: 18px;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    color: var(--light-gray);
    padding: 10px 20px;
}

/* Media query for tablet screens */
@media (max-width: 700px) {
    footer .links-container {
        flex-direction: column;
        align-items: stretch;
    }

    footer .links-container div {
        width: 100%;
    }

    footer .links-container div.socials {
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
}

/* Media query for mobile screens */
@media (max-width: 606px) {
    footer .links-container div {
        padding: 15px;
    }

    footer .footer-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
    }

}

/* Media query for small mobile screens */
@media (max-width: 387px) {
    footer .links-container {
        flex-direction: column;
        align-items: stretch;
    }

    footer .links-container div {
        padding: 10px;
    }

}

.floating {
    animation: float 3s ease-in-out infinite;
}
  
@keyframes float {
0% {
    transform: translateY(0);
}
50% {
    transform: translateY(-20px);
}
100% {
    transform: translateY(0);
}
}