/* --------------------------------- */
/* Home Page */
/* --------------------------------- */

#home-header{
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
    
    background-color: transparent;
    backdrop-filter: none;
}

#home-header > #wrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
    background-color: rgba(171, 196, 248, 0.2);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

#home-header  > #wrapper > .txt-area{
    gap: 20px;
    flex: 1.5;
    padding: 20px 30px 40px 30px;
}

#home-header  > #wrapper > .txt-area > h1{
    font-weight: 700;
}

#home-header-para{
    letter-spacing: 1px;
}

#home-header > #wrapper > .txt-area > .download-btns{
    gap: 10px;
    flex-wrap: wrap;
}

#home-header > #wrapper > .txt-area > .download-btns .d-btn{
    max-height: 45px;
}

#home-heading{
    font-weight: 500;
}

#hero-mockup{
    z-index: -10;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-mock{
    width: 80%;
    object-fit: contain;
    z-index: 100;
    max-height: 500px;
    filter: drop-shadow(0px 0px 10px rgba(85, 85, 85, 0.5));
}

.circle{
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: -10;
    opacity: 0.6;
    filter: blur(50px);
}

#c1{
    bottom: 55%;
    right: 0%;
    transform: translate(0%, 50%);
    width: 70%;
    background-color: rgb(158, 245, 197);
}

#c2{
    top: 50%;
    left: 45%;
    width: 60%;
    background-color: rgb(169, 169, 243);
}

#c3{
    bottom: 0%;
    right: 50%;
    width: 60%;
    background-color: rgb(245, 191, 236);
}

#c4{
    top: 0%;
    right: 55%;
    transform: translate(10%, 0%);
    width: 70%;
    background-color: #c2aaf8;
}

@media (min-width: 1000px){
    #home-header .txt-area p{
        max-width: 500px;
    }
}

@media (max-width: 800px){
    #home-header #wrapper{
        flex-direction: column;
        gap: 25px;
    }
    #home-header #wrapper .bg-circle{
        top: -35%;
        left: -35%;
        width: 60%;
    }
    #home-header #wrapper .txt-area,
    #home-header #wrapper #hero-mockup{
        flex: 0;
        width: 100%;
    }

    #home-header #wrapper .txt-area{
        align-items: center;
        text-align: center;
    }

    #home-mock{
        width: auto;
        max-height: 400px;
    }

    #home-header #wrapper #hero-mockup .circle{
        height: 55%;
        width: auto;
    }
    #c1{
        right: 12%;
    }
    #c2{
        right: 15%;
    }
    #c3{
        left: 15%;
    }
}

@media (max-width: 550px){
    #home-header #wrapper .bg-circle{
        top: -10%;
        left: -50%;
        width: 60%;
    }
    #c1, #c2{
        left: 50%;
    }
    #c3{
        right: 60%;
        left: auto;
    }
}

@media (max-width: 440px){
    #home-header > #wrapper > .txt-area{
        padding: 20px 10px;
    }
    #home-header-para{
        font-size: 16px;
    }
    #c1, #c2{
        right: 0%;
        left: auto;
    }
    #c3{
        left: 0%;
        right: auto;
    }
    #home-header > #wrapper > .txt-area > .download-btns{
        justify-content: center;
    }
    #home-mock{
        height: 90%;
        max-height: auto;
    }
}

@media (max-width: 330px){
    #home-mock{
        height: auto;
        width: 95%;
    }
}

/* ----------------------------------------- */

/* Processes */

#process-sect {
    padding: 20px 0px;
}

#process-sect .cards-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 15px;
}

#process-sect .cards-container > div {
    flex: 1 0 25%;
    min-height: 250px;
    padding: 20px 20px;
    border-radius: 20px;
    transition: flex 0.3s ease-in-out;
    overflow: hidden;
    gap: 20px;
    position: relative;
    overflow: hidden;
}

#process-sect .cards-container > div > .pbgc{
    position: absolute;
    width: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    bottom: -15%;
    right: -10%;
    z-index: -1;
}

#pbgc1{
    background-color: #d8cdff;
    filter: blur(50px);
    opacity: 0.5;
}
#pbgc2{
    background-color: #9cfaa0;
    opacity: 0.5;
    filter: blur(50px);
}
#pbgc3{
    background-color: var(--f2);
    filter: blur(30px);
    opacity: 0.6;
}
#pbgc4{
    background-color: rgb(250, 225, 179);
    filter: blur(60px);
    opacity: 0.8;
}


#step1 {
    background-color: #DFCCFB;
}

#step2 {
    background-color: #b7ffbb;
}

#step3 {
    background-color: var(--f2);
}

#step4 {
    background-color: #FFEECC;
}

#process-sect .cards-container > div p {
    display: none;
    letter-spacing: 1px;
}

#step1 p {
    display: block;
}


@media screen and (max-width: 800px){    
    #process-sect .cards-container {
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        padding: 20px 0px;
    }

    #process-sect .cards-container::-webkit-scrollbar {
        height: 8px;
    }

    #process-sect .cards-container::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        opacity: 0.5;
    }

    #process-sect .cards-container::-webkit-scrollbar-track {
        background: transparent;
    }

    #process-sect .cards-container  div {
        flex: 0 0 calc(32% - 20px);
        min-height: auto;
        aspect-ratio: 2/2.25;
    }

    #process-sect .cards-container  div p {
        display: block;
    }
}

@media screen and (max-width: 720px){
    #process-sect .cards-container div {
        flex: 0 0 calc(43% - 20px);
    }
}

@media (max-width: 600px){
    #process-sect .cards-container  div {
        flex: 0 0 calc(55% - 20px);
    }
}

@media (max-width: 499px){
    #process-sect .cards-container  div {
        flex: 0 0 calc(70% - 20px);
    }
}

@media (max-width: 449px){
    #process-sect .cards-container  div {
        flex: 0 0 calc(70% - 10px);
    }
}

@media (max-width: 398px) {
    #process-sect .cards-container  div {
        aspect-ratio: none;
        flex: 0 0 calc(80% - 10px);
    }
}

@media (max-width: 360px) {
    #process-sect .cards-container div {
        flex: 0 0 calc(95% - 5px);
    }
}

/* Main Section */

#home-main {
    padding: 0;
    margin: 0;
}


/* Quote Section */
section.quote {
    padding: 40px 20px;
    text-align: center;
}


section.quote h1 span.light {
    color: #AFAFAF;
}

section.quote h1 span {
    height: 100%;
    aspect-ratio: 1;
}

section.quote h1 span.ico-cont {
    display: inline-flex;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    margin: 0 0.2em;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
}

section.quote h1 span.ico-cont img {
    height: 87%;
    width: 87%;
    display: block;
    margin: auto;
}

span#health-plat {
    padding: 10px;
    background-color: #FFEECC;
}

span#stethoscope {
    background-color: var(--f2);
}

span#meds {
    padding: 10px;
    background-color: #b7ffbb;
}


@media (max-width:400px) {
    section.quote h1 {
        font-size: 28px;
    }
}


/* Features Section */

.feature-cards {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 30px 0px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}

.feature-cards::-webkit-scrollbar {
    height: 8px;
}

.feature-cards::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 0.5;
}

.feature-cards::-webkit-scrollbar-track {
    background: transparent;
}

.feature-cards .feature {
    flex: 0 0 auto;
    aspect-ratio: 3 / 3.5;
    border-radius: 20px;
    padding: 20px;
    background-color: #8E94A4;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;

    transition: all 0.3s ease-in-out;
    scroll-snap-align: start;

}


#f1 {
    background-color: var(--f1);
}

#f2 {
    background-color: var(--f2);
    background-image: url('/public/assets/doc-consults2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#f3 {
    background-color: var(--f3);
}

#f4 {
    background-color: var(--f4);
    background-image: url('/public/assets/user-consults2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.feature-cards .feature.ico-head-div {
    justify-content: space-between;
}

.feature-cards .feature.ico-head-div .ico-cont{
    max-height: 50px;
    max-width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 5px 5px;
}

.feature-cards .feature.ico-head-div .ico-cont img{
    height: 100%;
    width: auto;
}

.feature-cards .feature.only-head {
    justify-content: flex-end;
}

.feature-heading-bottom {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
}


.ico-text-h i,
.feature-heading-bottom {
    font-size: 18px;
}


/* Ensure 4 cards on Desktop Wide Screens */
@media (min-width:851px) {
    .feature-cards {
        justify-content: space-evenly;
    }

    .feature-cards .feature {
        flex: 1;
    }
}

@media (max-width: 850px) and (min-width: 721px) {
    .feature-cards {
        gap: 20px;
    }

    .feature-cards .feature {
        flex: 0 0 calc(32% - 20px);
    }
}

@media (max-width: 720px) and (min-width: 600px) {
    .feature-cards .feature {
        flex: 0 0 calc(43% - 20px);
    }
}

@media (max-width: 600px) and (min-width: 500px) {
    .feature-cards .feature {
        aspect-ratio: 3/3.8;
        flex: 0 0 calc(55% - 20px);
    }
}

@media (max-width: 499px) and (min-width: 450px) {
    .feature-cards .feature {
        flex: 0 0 calc(70% - 20px);
    }
}

@media (max-width: 449px) and (min-width: 399px) {
    .feature-cards {
        gap: 10px;
    }

    .feature-cards .feature {
        flex: 0 0 calc(70% - 10px);
    }
}

@media (max-width: 398px) {
    .feature-cards .feature {
        aspect-ratio: none;
        flex: 0 0 calc(80% - 10px);
    }
}

@media (max-width: 360px) {
    .feature-cards .feature {
        flex: 0 0 calc(95% - 5px);
    }
}


/* Diseases Section */

section.diseases {
    background-color: var(--lighter-gray);
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-evenly;
    align-items: stretch;
}

section.diseases .text-area {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0;
    padding: 20px 0px;
}

section.diseases .text-area h1 {
    margin-bottom: 10px;
    flex: 3;
    min-width: 340px;
}

section.diseases .text-area .para {
    padding: 20px 0px;
    font-size: 14px;
    min-width: 200px;
    max-width: 300px;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.round-icon-container {
    height: 30px;
    width: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.round-icon-container.ques-ico-cont {
    background-color: white;
    padding: 7px;
}

.round-icon-container.check-cont {
    background-color: #DAE4F4;
    padding: 6px;
}

.diseases .cards-area {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    /* gap: 10px; */
    padding: 20px 0px;

}

.disease {
    padding: 25px 12px;
    gap: 10px;
}

.disease .disease-name {
    font-size: 18px;
}

@media (max-width: 768px) {

    .disease .disease-name,
    .round-icon-container.check-cont {
        font-size: 16px;
    }

    .round-icon-container.check-cont {
        padding: 4px;
    }
}

@media (max-width:710px) {
    section.diseases .cards-area {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 25% 25% 25% 25%;
    }
}

@media (max-width: 580px) {
    section.diseases {
        padding: 10px;
    }

    section.diseases .text-area h1 {
        min-width: fit-content;
    }

    .diseases .text-area .para {
        font-size: 12px;
        min-width: fit-content;
    }

    .disease {
        padding: 10px 0px;
        gap: 2px;
    }

    .disease .disease-name,
    .round-icon-container.check-cont {
        font-size: 12px;
        font-weight: 300;
        padding: 4px;
    }

    .round-icon-container.check-cont {
        /* max-height: 14px; */
        aspect-ratio: 1;
    }
}

@media (max-width:440px) {
    section.diseases .cards-area {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
    }

    section.diseases .cards-area .disease .disease-name {
        font-size: 14px;
    }
}

@media (max-width:324px) {
    section.diseases .cards-area .disease .disease-name {
        font-size: 12px;
        padding: 0px 10px;
    }
}

@media (max-width: 300px) {
    section.diseases .cards-area {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    section.diseases .cards-area .disease {
        justify-content: start;
        padding: 10px 20px;
    }
}

/* App Features */
section.app-features {
    background-color: #F2F5F9;
    padding: 30px 10px;
    margin-top: 20px;
}

.app-features .toggle-area{
    padding: 0px 10px;
}

.app-features .toggle-area .toggle-btns {
    width: fit-content;
    background-color: var(--lighter-gray);
    padding: 5px 5px;
    border-radius: 5px;
    flex-direction: row;
}

.app-features .toggle-area .toggle-btns button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px 12px;
    font-weight: 300;
    margin: 0;
}

.app-features .toggle-area .toggle-btns button.active-toggle {
    background-color: white;
    font-weight: bold;
}

.app-feature-list {
    padding: 20px 10px;
}

.app-feature-list h1 {
    padding: 10px 0px;
}

.app-feature-list .app-f-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 0;
    padding: 0;
}

.app-feature-list .app-f-cont .stack-container {
    flex: 1.5;
    min-width: 0;
    gap: 0px;
}

.app-feature-list .app-f-cont .mockup-container {
    flex: 1;
    padding: 20px 10px;
}

.app-feature-list .app-f-cont .mockup-container img {
    max-height: 90%;
    max-width: 100%;
    object-fit: cover;
}

.app-feature-list .app-f-cont .stack-container .stack {
    gap: 10px;
    flex-wrap: wrap;
}

.app-feature-list .app-f-cont .stack-container .stack .app-f {
    min-width: 150px;
    flex: 1;
    padding: 8px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
}

.app-f .app-feature-ico-cont {
    background-color: white;
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    padding: 5px 5px;
    border-radius: 5px;
}

.app-f .app-feature-ico-cont img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

@media (max-width: 700px) {
    .app-feature-list .app-f-cont {
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 10px;
    }

    .app-feature-list .app-f-cont .stack-container,
    .app-feature-list .app-f-cont .mockup-container {
        width: 100%;
    }

    .app-feature-list .app-f-cont .mockup-container {
        height: 400px;
        max-height: 400px;
        padding: 15px 0px;
    }

    .app-feature-list .app-f-cont .mockup-container img {
        max-height: 380px;
        width: auto;
    }
}


/* Easy Cards Section */

.easy {
    background-color: white;
    padding: 20px 0px;
}

/* Handle the text area first */
.easy .txt-area {
    gap: 10px;
}


@media (min-width: 650px){
    .easy .txt-area .heading-area {
        flex: 2;
        min-width: 300px;
    }    
}

.easy .txt-area .para-area {
    flex: 1;
    min-width: 200px;
}

.easy .txt-area div {
    padding: 20px 20px;
}

/* Cards container layout */
.easy .cards-cont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px 0px;
    gap: 20px;
    min-height: fit-content;

    overflow-x: auto;
    /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling for iOS */
    scroll-snap-type: x mandatory;
    /* Snap cards into place */
    overflow-y: hidden;
    /* Prevent vertical scrolling */
}

/* Custom scrollbar */
.easy .cards-cont::-webkit-scrollbar {
    height: 5px;
}

.easy .cards-cont::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 0.5;
}

.easy .cards-cont::-webkit-scrollbar-track {
    background: transparent;
}

/* Card Styles */
.easy .cards-cont .card {
    
    flex: 0 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    scroll-snap-align: start;
}

/* Card content */
.easy .cards-cont .card > * {
    flex: 1;
}

/* Card Headings and Paragraphs */
.easy .cards-cont .card .easy-card-heading,
.easy .cards-cont .card p {
    padding: 20px 25px;
    background-color: var(--easy);
}

.easy .cards-cont .card .easy-card-heading {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.easy .cards-cont .card .easy-card-heading.centered{
    display: flex;
    align-items: center;
}

.easy .cards-cont .card p {
    border-bottom-right-radius: 15px;
}

/* Icon container styling */
.easy .cards-cont .card .icons-cont {
    border-bottom-left-radius: 15px;
    padding: 0;
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Icon wrappers */
.easy .cards-cont .card .icons-cont .transparent-bg {
    flex: 1;
    height: 100%;
    background-color: var(--easy);
    padding-left: 25px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.easy .cards-cont .card .icons-cont .white-bg {
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0;
    background-color: var(--easy);
}

.easy .cards-cont .card .icons-cont .white-bg .curvy-wrapper {
    border-top-left-radius: 15px;
    background-color: white;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 10px 10px;
}

.easy .cards-cont .card .icons-cont .white-bg .curvy-wrapper .wrapper {
    width: 50px;
    aspect-ratio: 1;
    background-color: var(--easy);
    border-radius: 50%;
    padding: 10px 10px;
}

.easy-card-icon-wrapper{
    height: 50px;
    width: auto;
    aspect-ratio: 1 / 1;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}

.easy-card-icon{
    background-color: transparent;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    color: var(--btn-prim);
}

.easy .fa-check{
    height: 85%;
    width: auto;
    aspect-ratio: 1;
    color: var(--btn-prim);
}


/* Media Queries for Responsive Design */
@media (min-width: 801px) {

    .easy .cards-cont {
        justify-content: space-evenly;
    }

    .easy .cards-cont .card {
        flex: 1;
    }
}


@media (max-width: 800px) and (min-width: 700px) {
    .easy-card-heading{
        font-size: 26px;
    }
}

@media (max-width: 699px){
    .easy-card-heading{
        font-size: 20px;
    }
}

@media (max-width: 800px) and (min-width: 650px) {

    .easy .cards-cont {
        justify-content: flex-start;
    }

    .easy .cards-cont .card {
        flex: 0 0 calc(45% - 20px);
    }
}

@media (max-width: 650px) and (min-width: 550px) {

    .easy .cards-cont {
        justify-content: flex-start;
    }

    .easy .cards-cont .card {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 550px) and (min-width: 400px) {
    .easy .cards-cont .card {
        flex: 0 0 calc(85% - 20px);
    }

    .easy .cards-cont .card .easy-card-heading{
        font-size: 26px;
    }
}

@media (max-width: 400px) and (min-width: 300px) {

    .easy .cards-cont .card {
        flex: 0 0 calc(90% - 10px);
    }

}

@media (max-width: 300px) {


    .easy .cards-cont{
        gap: 10px;
    }
    .easy .cards-cont .card {
        flex: 0 0 98%;
    }

}

@media (max-width:400px) {
    .easy {
        padding: 10px 5px;
    }
}

/* --------------------------------- */
/* CONTACT US PAGE */
/* --------------------------------- */

.contact-container{
    border-radius: 20px;
    margin: 0px 10px;
    background-color: rgba(187, 191, 235, 0.175);
    backdrop-filter: blur(100px);
    overflow: hidden;
}

.contact-container > .wrapper{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;

    position: relative;
    
}

.contact-container > .wrapper > .bg-blur-circle{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;

    background-color: var(--f2);
    filter: blur(70px);
    opacity: 0.8;
    position: absolute;
    z-index: -1;
}

#bbc1{
    top: -30%;
    left: -15%;
    opacity: 0.4;
}
#bbc2{
    bottom: -20%;
    right: -15%;
}

.contact-container > .wrapper >.contact-info {
    width: 70%;
    flex: 2;
    padding: 20px;
}

.contact-container > .wrapper > .contact-form {
    width: 30%;
    min-width: 350px;
    flex: 1;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    box-shadow: 0px 0px 12px rgb(230, 230, 230)
}

.contact-info .support-sections {
    gap: 10px;
    padding: 10px 0px;
}

.contact-info .support-sections .support-section {
    flex: 1;
    min-width: 130px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.contact-info .support-sections .support-section p {
    font-size: 12px;
}

.contact-container > .wrapper > .contact-info .text-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px 0px;
}

.contact-container > .wrapper > .contact-info .text-area p {
    width: 100%;
}

.contact-container > .wrapper > .contact-form .head-grp p {
    margin-top: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.name-grp input {
    width: 50%;
    border-radius: 20px;
}

.icon-grp {
    display: block;
    position: relative;
}

.icon-grp span {
    width: 20px;
    height: 20px;
    color: black;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
}

.icon-grp input {
    width: 100%;
    padding-left: 40px;
}

.phone-grp {
    border: 1px solid var(--dark-gray);
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
}

.phone-grp * {
    border: none;
    border-radius: 0;
    background: transparent;
}

.phone-grp input {
    flex: 1;
    margin-left: 10px;
    border-left: 1px solid var(--dark-gray);
}

.contact-form p.terms-msg {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}


/* Media Queries */
@media (max-width: 1200px) {

    .contact-container > .wrapper > .contact-info,
    .contact-container > .wrapper > .contact-form {
        width: 100%;
    }

    .contact-container > .wrapper > .contact-info .text-area p {
        width: 100%;
    }

    .contact-info .support-sections .support-section {
        width: 100%;
    }

    .contact-container > .wrapper > .contact-form {
        width: 35%;
    }
}

@media (max-width: 800px) {

    .contact-container > .wrapper {
        flex-direction: column;
        align-items: center;
    }
    #bbc1{
        top: -10%;
        left: -10%;
        height: 40%;
        width: auto;
    }

    #bbc2{
        bottom: -5%;
        right: -5%;
        height: 60%;
        width: auto;
    }
    .contact-container > .wrapper > .contact-info,
    .contact-container > .wrapper > .contact-form {
        width: 100%;
    }

    .contact-info .support-sections {
        flex-direction: column;
        align-items: center;
    }

    .contact-info .support-sections .support-section {
        width: 100%;
    }

    section.contact-vision {
        flex-direction: column;
        align-items: center;
    }

    section.contact-vision .left,
    section.contact-vision .right {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .contact-container > .wrapper > .contact-info .text-area p {
        width: 100%;
    }

    .contact-info .support-sections .support-section {
        width: 100%;
    }
}

@media (max-width: 410px) {
    .contact-container > .wrapper > .contact-form {
        min-width: 0px;
    }

    .contact-container > .wrapper > .contact-form .form-grp form .name-grp {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }

    .contact-container > .wrapper > .contact-form .form-grp form .name-grp input {
        width: 100%;
    }

    .phone-grp select {
        padding: 4px;
        min-width: 0;
    }

    .phone-grp input#phone {
        min-width: 0;
        margin: 0px;
    }
}

@media (max-width: 350px){
    .contact-container{
        padding: 20px 10px 10px 10px;
    }
}